<div class="container" style="margin-top:30px">
  <div class="row">
    <h2>Restaurants</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let res of restaurants; index as i;" [routerLink]="['/detail', res.id]">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{res.name}}</td>
          <td>{{res.address.street}} N°{{res.address.altitude}}</td>
          <td>
          <form #menuForm="ngForm">
              <button  type="button" class="sumbit btn btn-primary fa fa-eye"></button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

   <!---->