<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="col-12">
			<div class="row">

				<!-- RESTAURANT -->
				<div class="col-6">
					<h2>{{restaurant.name}}</h2>
					<h5>{{restaurant.description}}</h5>
					<img src={{restaurant.imagen}} class="img-thumbnail" alt="Cinque Terre">
					<p>Some text..</p>
					<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>  	
				</div>
			
				<!-- ADDRESS -->
				<div class="col-3">
					<br><br><br>
					<h5>Address</h5>
					<br>
					<strong>Country</strong>
					<p>{{restaurant.address.country}}</p>

					<strong>State</strong>
					<p>{{restaurant.address.state}}</p>

					<strong>City</strong>
					<p>{{restaurant.address.city}}</p>
				</div>
				<div class="col-3">
					<br><br><br><br><br><br>
					<strong>Street</strong>
					<p>{{restaurant.address.street}}</p>

					<strong>Altitude</strong>
					<p>N° {{restaurant.address.altitude}}</p>
				</div>
			</div>

			<!-- Return, Show buttons -->
	        <div style=" float:  right;">
	            <button type="button" class="btn btn-outline-primary" [routerLink]="['/restaurants']">Return</button>
	            <button type="button" class="btn btn-outline-success" style="margin: 20px;" [routerLink]="['/edit', restaurant.id]">Edit Restaurant</button>
	        	<button type="button" class="btn btn-outline-info">Show Menues</button>
	        </div>  
	    </div>  
</div>
  